[1]         # Version number; do not delete!

[Core]

A-F4 Quit

[Widget]

ESC CloseCurrentWidget

[Editor]

C-f OpenSearchWidget

F1 ToggleDevInfo
# F2 DrawSpecialChars

C-s Save
C-w CloseCurrentBuffer
C-PageUp PrevBuffer
C-PageDown NextBuffer

ArrowLeft MoveLeft
ArrowUp MoveUp
ArrowDown MoveDown
ArrowRight MoveRight

C-ArrowLeft MoveLeftWord
A-ArrowLeft MoveLeftSubword
C-ArrowRight MoveRightWord
A-ArrowRight MoveRightSubword

PageUp ScrollViewPortUp
PageDown ScrollViewPortDown

Home GotoFirstCharOfCurrentRow
A-Home GotoLastCharOfCurrentRow

ENTER InsertLine
C-ENTER InsertLineBelow
TAB InsertTab

C-c Copy
C-v Paste
C-x Cut

C-k DeleteEverythingFromLeft

Delete DeleteFromLeft
C-Delete DeleteWordFromLeft
A-Delete DeleteSubwordFromLeft

Backspace DeleteFromRight
C-Backspace DeleteWordFromRight
A-Backspace DeleteSubwordFromRight

S-ArrowUp ExpandSelectionUp
S-ArrowLeft ExpandSelectionLeft
S-ArrowDown ExpandSelectionDown
S-ArrowRight ExpandSelectionRight
C-S-ArrowLeft ExpandSelectionLeftByWord
C-S-ArrowRight ExpandSelectionRightbyWord