[1]         # Version number; do not delete!

# A .ALT
# S .SHIFT
# C .CTRL

F1 ToggleDevInfo
F2 DrawSpecialChars

A-F4 Quit

ArrowLeft MoveLeft
ArrowUp MoveUp
ArrowDown MoveDown
ArrowRight MoveRight

C-ArrowLeft MoveLeftWord
A-ArrowLeft MoveLeftSubword
C-ArrowRight MoveRightWord
A-ArrowRight MoveRightSubword

# C-f OpenWidget

# PageUp ScrollViewPortUp
# PageDown ScrollViewPortDown
# 
# Home GotoFirstCharOFCurrentRow
# A-Home GotoLastCharOfCurrentRow
# 
# Enter InsertLine
# C-Enter InsertLineBelow
# Tab InsertTab
# 
# Backspace DeleteCharFromRight
# Delete DeleteCharFromLeft
# C-x DeleteTheWholeLine
# C-k DeleteEverythingFromLeft
# C-Backspace DeleteWordFromRight
# A-Backspace DeleteSubwordFromRight