[1]         # Version number; do not delete!

# A .ALT
# S .SHIFT
# C .CTRL

Backspace DeleteCharFromRight
Delete DeleteCharFromLeft

C-x DeleteTheWholeLine
C-k DeleteEverythingFromLeft

C-Backspace DeleteWordFromRight
A-Backspace DeleteSubwordFromRight

Tab InsertTab